body {
  /* background-color: #b9b9b9; */
}

.btn {
  height: 70px;
  width: 250px;
  padding: 10px;
  font-size: 25px;
  border-radius: 20px;
  margin: 10px;
}

.btn:hover {
  background-color: rgb(23, 175, 192);
}

input {
  font-size: 25px;
  padding: 15px;
  margin: 10px;
}
