// $main-background: white;
$main-background: #bbdee2;
$main-border: #00579d;
$button-background: white;
$button-background-hover: #a4f8f5;
$accent-color01: #f8bd32;
$accent-color02: #f17a7e;
$accent-color03: #1ca4ed;
