:root {
  --main-background: #282824;
  --test-block-background01: #fb8c6f;
  --test-block-background02: #73607d;
  --test-block-background03: #f9b658;
  --test-block-background04: #ffc94b;
  --test-block-background05: #f17a7e;
}
