@use "sass:color";
@import "color-palette.scss";
// <a href="https://lordicon.com/">Icons by Lordicon.com</a>
// @import url("../assets/wired-gradient-61-camera.gif");

.header {
  min-height: 20vh;
  border: 6px double $main-border;
  border-radius: 16px;
  background-color: darken($main-background, 15%);
  color: white;
  font-size: 200%;
  font-weight: 400;
  letter-spacing: 4px;
  text-shadow: $accent-color03 2px 0 0.1px;
  text-decoration: underline;
  display: flex;
  align-items: center;
  justify-content: center;
}
