* {
  box-sizing: border-box;
}

.jurnal-day-page {
  background-color: #c0bcbc;
  border: 5px solid rgb(168, 157, 0);
}

.journal-page-title {
  border: 3px solid green;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
