@use "sass:color";
@import "color-palette.scss";

.add-entry {
  background-color: darken($main-background, 18%);
  border-radius: 16px;
  padding: 20px;
  margin-top: 4vh;
  margin-bottom: 5vh;
}

.add-entry-title {
  margin: 5px auto;
  text-shadow: $accent-color01 1px 0 10px;
}
.input-textarea:hover {
  min-height: 20vh;
  min-width: 30vw;
  position: absolute;
  z-index: 1;
  border: 3px solid $accent-color01;
}
.input-file {
  background-color: darken($main-background, 30%);
  border: 3px solid $accent-color01;
  padding: 20px;
}
.input-file:hover {
  background-color: lighten($accent-color01, 17%);
}
.input-file-label {
  //   border: 3px solid $accent-color01;
  padding: 5px;
  font-size: 22px;
}
